.avatarimg{
    border-radius: 50%;
    display: block;
    margin-left: 45%;
    width: 40%;
  
  }
  .row2{
    border-bottom: groove;
    padding-top: 50px;
  }
  .panel{
    border-radius: grey;

  }
  .bar{
    list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
      font-size: xx-large;
  }
  li{
    float: left;
    display: block;
     color:goldenrod;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     overflow: hidden;
     padding-bottom: 20px;
  }
  .home{
    widght:250px;
    margin-left:40%;
    margin-top: 2%;
    height: auto;
    text-align: center;
    padding: 2%;
    background-color: green;
    font-size: 20px;
    color:navy;
    box-shadow: 5px 5px rgb(black);
  }
  body{
      margin-top: 0%;
      overflow: hidden;
  }
  *{
      margin-right:6% ;
      margin-left: 6%;
      background-position: center;
  }
  