.container{
    padding: 20%;
     position:fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
    text-align: center;
    color:goldenrod;
    overflow: hidden;
    background-image: url(/assets/images.jpeg);
    background-size: cover;
    font-size: larger;
  }
  .profile{
    width:250px;
    margin-bottom: 10%;
    padding: 2.5%;
    background-color:green;
    font-size: 20px;
    color:goldenrod;
    box-shadow:10px 10px 2px rgb(black);
  }
  .repo{
    width:250px;
    margin-bottom: 10%;
    padding: 2.5%;
    background-color:green;
    font-size: 20px;
    color:goldenrod;
    box-shadow:10px 10px 2px rgb(black);
  }
  
